<header class="header">

    <div class="header__inner container">

      <img 
        src="./assets/images/mg-logo.png" 
        alt="Mangata and Gallo fine jewelry logo"
        class="header__logo"
      >
      </div>

      <nav class="header__nav" aria-label="Main navigation">
        <ul class="header__nav-list">
          <li><a href="#" class="header__nav-link header__nav-link--active">Home</a></li>
          <li><a href="#" class="header__nav-link">Collections</a></li>
          <li><a href="#" class="header__nav-link">About</a></li>
          <li><a href="#" class="header__nav-link">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>